Use correct casing in HTTP headers

HTTP headers are case-insensitive, per [RFC 7230 Section 3.2][1]:

> Each header field consists of a **case-insensitive field name** followed by a colon (":"), optional leading whitespace, the field value, and optional trailing whitespace.

However, we should be consistent when we refer to the headers, and use `X-WOPI-` in all caps as the prefix, and camel-casing for the rest of the header name, e.g. `X-WOPI-OldLock`.

Unfortunately, due to the behavior of [sphinxcontrib-httpdomain][] in version 1.3.0, the header values are automatically title-cased in the REST parts of the docs. This issue is actually already fixed in the next version of sphinxcontrib-httpdomain, and I have asked the developer to publish an updated version since 1.3.0 is quite old at this point. Until that's done we'll have inconsistencies.


[1]: https://tools.ietf.org/html/rfc7230#section-3.2
[sphinxcontrib-httpdomain]: http://pythonhosted.org/sphinxcontrib-httpdomain/

I went ahead and published a new version of the lib: [sphinxcontrib-httpdomain-update](http://pypi.python.org/pypi/sphinxcontrib-httpdomain-update).