X-WOPI-TimeStamp and X-WOPI-Timestamp header discrepancy between the validator and app

It appears that the validator and application use different cases for the X-WOPI-TimeStamp header. In the validator, the value is lowercased and in the app it is CamelCase. 

The X-WOPI-TimeStamp header is a 64-bit integer. See here:

https://wopi.readthedocs.org/projects/wopirest/en/latest/common_headers.html#standard-wopi-request-and-response-headers

Did you mean a different header?

I understand that the X-WOPI-TimeStamp represents  "the number of 100-nanosecond intervals that have elapsed between 12:00:00 midnight, January 1, 0001, UTC and the UTC time of the request." I use the header value to validate that it's in the last 20 minutes and to generate the expected proof for proof key validation. I think there is a typo in the .wopitest validator. When I run the tests, the header comes in as "X-WOPI-Timestamp." When I test the implementation with an actual document, the header name is "X-WOPI-TimeStamp".

Ahhh, I misunderstood. HTTP header values are case-insensitive, so this _technically_ isn't an issue. See https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2 for more info:

> HTTP header fields, which include general-header (section 4.5), request-header (section 5.3), response-header (section 6.2), and entity-header (section 7.1) fields, follow the same generic format as that given in Section 3.1 of RFC 822 [9]. Each header field consists of a name followed by a colon (":") and the field value. Field names are case-insensitive.

That said, I'll file an internal bug to update the validator to be case-consistent with the docs.